/* Figma Styles of your File */
:root {
  /* Colors */
  --image-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 8.073586970567703%,
    rgba(0, 0, 0, 0.1) 15.084502100944519%,
    rgba(0, 0, 0, 0.15) 21.22586965560913%,
    rgba(0, 0, 0, 0.2) 26.69081687927246%,
    rgba(0, 0, 0, 0.26) 31.67247474193573%,
    rgba(0, 0, 0, 0.31) 36.36396527290344%,
    rgba(0, 0, 0, 0.36) 40.95841646194458%,
    rgba(0, 0, 0, 0.42) 45.648953318595886%,
    rgba(0, 0, 0, 0.49) 50.62870979309082%,
    rgba(0, 0, 0, 0.55) 56.09080195426941%,
    rgba(0, 0, 0, 0.63) 62.22836375236511%,
    rgba(0, 0, 0, 0.71) 69.23452019691467%,
    rgba(0, 0, 0, 0.8) 77.30240225791931%,
    rgba(0, 0, 0, 0.89) 86.6251289844513%,
    rgba(0, 0, 0, 1) 97.39583134651184%
  );

  /* Fonts */
  --san-francisco-large-title-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-large-title-regular-font-size: 34px;
  --san-francisco-large-title-regular-line-height: 41px;
  --san-francisco-large-title-regular-font-weight: 400;
  --san-francisco-large-title-regular-font-style: normal;
  --san-francisco-large-title-semibold-font-family: SfProText-Semibold,
    sans-serif;
  --san-francisco-large-title-semibold-font-size: 34px;
  --san-francisco-large-title-semibold-line-height: 41px;
  --san-francisco-large-title-semibold-font-weight: 600;
  --san-francisco-large-title-semibold-font-style: normal;
  --san-francisco-large-title-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-large-title-bold-font-size: 34px;
  --san-francisco-large-title-bold-line-height: 41px;
  --san-francisco-large-title-bold-font-weight: 700;
  --san-francisco-large-title-bold-font-style: normal;
  --san-francisco-large-title-bold-caps-font-family: SfProText-Bold, sans-serif;
  --san-francisco-large-title-bold-caps-font-size: 34px;
  --san-francisco-large-title-bold-caps-line-height: 41px;
  --san-francisco-large-title-bold-caps-font-weight: 700;
  --san-francisco-large-title-bold-caps-font-style: normal;
  --san-francisco-title-1-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-title-1-regular-font-size: 28px;
  --san-francisco-title-1-regular-line-height: 34px;
  --san-francisco-title-1-regular-font-weight: 400;
  --san-francisco-title-1-regular-font-style: normal;
  --san-francisco-title-1-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-title-1-semibold-font-size: 28px;
  --san-francisco-title-1-semibold-line-height: 34px;
  --san-francisco-title-1-semibold-font-weight: 600;
  --san-francisco-title-1-semibold-font-style: normal;
  --san-francisco-title-1-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-title-1-bold-font-size: 28px;
  --san-francisco-title-1-bold-line-height: 34px;
  --san-francisco-title-1-bold-font-weight: 700;
  --san-francisco-title-1-bold-font-style: normal;
  --san-francisco-title-2-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-title-2-regular-font-size: 24px;
  --san-francisco-title-2-regular-line-height: 28px;
  --san-francisco-title-2-regular-font-weight: 400;
  --san-francisco-title-2-regular-font-style: normal;
  --san-francisco-title-2-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-title-2-semibold-font-size: 24px;
  --san-francisco-title-2-semibold-line-height: 28px;
  --san-francisco-title-2-semibold-font-weight: 600;
  --san-francisco-title-2-semibold-font-style: normal;
  --san-francisco-title-2-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-title-2-bold-font-size: 24px;
  --san-francisco-title-2-bold-line-height: 28px;
  --san-francisco-title-2-bold-font-weight: 700;
  --san-francisco-title-2-bold-font-style: normal;
  --san-francisco-title-3-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-title-3-regular-font-size: 20px;
  --san-francisco-title-3-regular-line-height: 25px;
  --san-francisco-title-3-regular-font-weight: 400;
  --san-francisco-title-3-regular-font-style: normal;
  --san-francisco-title-3-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-title-3-semibold-font-size: 20px;
  --san-francisco-title-3-semibold-line-height: 25px;
  --san-francisco-title-3-semibold-font-weight: 600;
  --san-francisco-title-3-semibold-font-style: normal;
  --san-francisco-title-3-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-title-3-bold-font-size: 20px;
  --san-francisco-title-3-bold-line-height: 25px;
  --san-francisco-title-3-bold-font-weight: 700;
  --san-francisco-title-3-bold-font-style: normal;
  --san-francisco-title-3-bold-caps-font-family: SfProText-Bold, sans-serif;
  --san-francisco-title-3-bold-caps-font-size: 20px;
  --san-francisco-title-3-bold-caps-line-height: 25px;
  --san-francisco-title-3-bold-caps-font-weight: 700;
  --san-francisco-title-3-bold-caps-font-style: normal;
  --san-francisco-headline-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-headline-regular-font-size: 19px;
  --san-francisco-headline-regular-line-height: 24px;
  --san-francisco-headline-regular-font-weight: 400;
  --san-francisco-headline-regular-font-style: normal;
  --san-francisco-headline-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-headline-semibold-font-size: 19px;
  --san-francisco-headline-semibold-line-height: 24px;
  --san-francisco-headline-semibold-font-weight: 600;
  --san-francisco-headline-semibold-font-style: normal;
  --san-francisco-headline-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-headline-bold-font-size: 19px;
  --san-francisco-headline-bold-line-height: 24px;
  --san-francisco-headline-bold-font-weight: 700;
  --san-francisco-headline-bold-font-style: normal;
  --san-francisco-text-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-text-regular-font-size: 17px;
  --san-francisco-text-regular-line-height: 22px;
  --san-francisco-text-regular-font-weight: 400;
  --san-francisco-text-regular-font-style: normal;
  --san-francisco-text-medium-font-family: SfProText-Medium, sans-serif;
  --san-francisco-text-medium-font-size: 17px;
  --san-francisco-text-medium-line-height: 22px;
  --san-francisco-text-medium-font-weight: 500;
  --san-francisco-text-medium-font-style: normal;
  --san-francisco-text-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-text-semibold-font-size: 17px;
  --san-francisco-text-semibold-line-height: 22px;
  --san-francisco-text-semibold-font-weight: 600;
  --san-francisco-text-semibold-font-style: normal;
  --san-francisco-text-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-text-bold-font-size: 17px;
  --san-francisco-text-bold-line-height: 22px;
  --san-francisco-text-bold-font-weight: 700;
  --san-francisco-text-bold-font-style: normal;
  --san-francisco-subheadline-1-regular-font-family: SfProText-Regular,
    sans-serif;
  --san-francisco-subheadline-1-regular-font-size: 16px;
  --san-francisco-subheadline-1-regular-line-height: 21px;
  --san-francisco-subheadline-1-regular-font-weight: 400;
  --san-francisco-subheadline-1-regular-font-style: normal;
  --san-francisco-subheadline-1-regular-mono-font-family: SfMono-Regular,
    sans-serif;
  --san-francisco-subheadline-1-regular-mono-font-size: 16px;
  --san-francisco-subheadline-1-regular-mono-line-height: 21px;
  --san-francisco-subheadline-1-regular-mono-font-weight: 400;
  --san-francisco-subheadline-1-regular-mono-font-style: normal;
  --san-francisco-subheadline-1-semibold-font-family: SfProText-Semibold,
    sans-serif;
  --san-francisco-subheadline-1-semibold-font-size: 16px;
  --san-francisco-subheadline-1-semibold-line-height: 21px;
  --san-francisco-subheadline-1-semibold-font-weight: 600;
  --san-francisco-subheadline-1-semibold-font-style: normal;
  --san-francisco-subheadline-1-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-subheadline-1-bold-font-size: 16px;
  --san-francisco-subheadline-1-bold-line-height: 21px;
  --san-francisco-subheadline-1-bold-font-weight: 700;
  --san-francisco-subheadline-1-bold-font-style: normal;
  --san-francisco-subheadline-2-regular-font-family: SfProText-Regular,
    sans-serif;
  --san-francisco-subheadline-2-regular-font-size: 15px;
  --san-francisco-subheadline-2-regular-line-height: 20px;
  --san-francisco-subheadline-2-regular-font-weight: 400;
  --san-francisco-subheadline-2-regular-font-style: normal;
  --san-francisco-subheadline-2-regular-code-font-family: SfMono-Regular,
    sans-serif;
  --san-francisco-subheadline-2-regular-code-font-size: 15px;
  --san-francisco-subheadline-2-regular-code-line-height: 20px;
  --san-francisco-subheadline-2-regular-code-font-weight: 400;
  --san-francisco-subheadline-2-regular-code-font-style: normal;
  --san-francisco-subheadline-2-semibold-font-family: SfProText-Semibold,
    sans-serif;
  --san-francisco-subheadline-2-semibold-font-size: 15px;
  --san-francisco-subheadline-2-semibold-line-height: 20px;
  --san-francisco-subheadline-2-semibold-font-weight: 600;
  --san-francisco-subheadline-2-semibold-font-style: normal;
  --san-francisco-subheadline-2-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-subheadline-2-bold-font-size: 15px;
  --san-francisco-subheadline-2-bold-line-height: 20px;
  --san-francisco-subheadline-2-bold-font-weight: 700;
  --san-francisco-subheadline-2-bold-font-style: normal;
  --san-francisco-subheadline-2-bold-caps-font-family: SfProText-Bold,
    sans-serif;
  --san-francisco-subheadline-2-bold-caps-font-size: 15px;
  --san-francisco-subheadline-2-bold-caps-line-height: 20px;
  --san-francisco-subheadline-2-bold-caps-font-weight: 700;
  --san-francisco-subheadline-2-bold-caps-font-style: normal;
  --san-francisco-caption-1-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-caption-1-regular-font-size: 13px;
  --san-francisco-caption-1-regular-line-height: 16px;
  --san-francisco-caption-1-regular-font-weight: 400;
  --san-francisco-caption-1-regular-font-style: normal;
  --san-francisco-caption-1-regular-caps-font-family: SfProText-Regular,
    sans-serif;
  --san-francisco-caption-1-regular-caps-font-size: 13px;
  --san-francisco-caption-1-regular-caps-line-height: 16px;
  --san-francisco-caption-1-regular-caps-font-weight: 400;
  --san-francisco-caption-1-regular-caps-font-style: normal;
  --san-francisco-caption-1-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-caption-1-semibold-font-size: 13px;
  --san-francisco-caption-1-semibold-line-height: 16px;
  --san-francisco-caption-1-semibold-font-weight: 600;
  --san-francisco-caption-1-semibold-font-style: normal;
  --san-francisco-caption-1-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-caption-1-bold-font-size: 13px;
  --san-francisco-caption-1-bold-line-height: 16px;
  --san-francisco-caption-1-bold-font-weight: 700;
  --san-francisco-caption-1-bold-font-style: normal;
  --san-francisco-caption-2-regular-font-family: SfProText-Regular, sans-serif;
  --san-francisco-caption-2-regular-font-size: 10px;
  --san-francisco-caption-2-regular-line-height: 13px;
  --san-francisco-caption-2-regular-font-weight: 400;
  --san-francisco-caption-2-regular-font-style: normal;
  --san-francisco-caption-2-semibold-font-family: SfProText-Semibold, sans-serif;
  --san-francisco-caption-2-semibold-font-size: 10px;
  --san-francisco-caption-2-semibold-line-height: 13px;
  --san-francisco-caption-2-semibold-font-weight: 600;
  --san-francisco-caption-2-semibold-font-style: normal;
  --san-francisco-caption-2-bold-font-family: SfProText-Bold, sans-serif;
  --san-francisco-caption-2-bold-font-size: 10px;
  --san-francisco-caption-2-bold-line-height: 13px;
  --san-francisco-caption-2-bold-font-weight: 700;
  --san-francisco-caption-2-bold-font-style: normal;
  --san-francisco-caption-2-bold-caps-font-family: SfProText-Bold, sans-serif;
  --san-francisco-caption-2-bold-caps-font-size: 10px;
  --san-francisco-caption-2-bold-caps-line-height: 13px;
  --san-francisco-caption-2-bold-caps-font-weight: 700;
  --san-francisco-caption-2-bold-caps-font-style: normal;
  --roboto-large-title-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-large-title-regular-font-size: 34px;
  --roboto-large-title-regular-line-height: 42px;
  --roboto-large-title-regular-font-weight: 400;
  --roboto-large-title-regular-font-style: normal;
  --roboto-large-title-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-large-title-semibold-font-size: 34px;
  --roboto-large-title-semibold-line-height: 42px;
  --roboto-large-title-semibold-font-weight: 600;
  --roboto-large-title-semibold-font-style: normal;
  --roboto-large-title-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-large-title-bold-font-size: 34px;
  --roboto-large-title-bold-line-height: 42px;
  --roboto-large-title-bold-font-weight: 700;
  --roboto-large-title-bold-font-style: normal;
  --roboto-large-title-bold-caps-font-family: Roboto-Bold, sans-serif;
  --roboto-large-title-bold-caps-font-size: 34px;
  --roboto-large-title-bold-caps-line-height: 42px;
  --roboto-large-title-bold-caps-font-weight: 700;
  --roboto-large-title-bold-caps-font-style: normal;
  --roboto-title-1-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-title-1-regular-font-size: 28px;
  --roboto-title-1-regular-line-height: 36px;
  --roboto-title-1-regular-font-weight: 400;
  --roboto-title-1-regular-font-style: normal;
  --roboto-title-1-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-title-1-semibold-font-size: 28px;
  --roboto-title-1-semibold-line-height: 36px;
  --roboto-title-1-semibold-font-weight: 600;
  --roboto-title-1-semibold-font-style: normal;
  --roboto-title-1-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-title-1-bold-font-size: 28px;
  --roboto-title-1-bold-line-height: 36px;
  --roboto-title-1-bold-font-weight: 700;
  --roboto-title-1-bold-font-style: normal;
  --roboto-title-2-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-title-2-regular-font-size: 24px;
  --roboto-title-2-regular-line-height: 32px;
  --roboto-title-2-regular-font-weight: 400;
  --roboto-title-2-regular-font-style: normal;
  --roboto-title-2-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-title-2-semibold-font-size: 24px;
  --roboto-title-2-semibold-line-height: 32px;
  --roboto-title-2-semibold-font-weight: 600;
  --roboto-title-2-semibold-font-style: normal;
  --roboto-title-2-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-title-2-bold-font-size: 24px;
  --roboto-title-2-bold-line-height: 32px;
  --roboto-title-2-bold-font-weight: 700;
  --roboto-title-2-bold-font-style: normal;
  --roboto-title-3-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-title-3-regular-font-size: 20px;
  --roboto-title-3-regular-line-height: 24px;
  --roboto-title-3-regular-font-weight: 400;
  --roboto-title-3-regular-font-style: normal;
  --roboto-title-3-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-title-3-semibold-font-size: 20px;
  --roboto-title-3-semibold-line-height: 24px;
  --roboto-title-3-semibold-font-weight: 600;
  --roboto-title-3-semibold-font-style: normal;
  --roboto-title-3-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-title-3-bold-font-size: 20px;
  --roboto-title-3-bold-line-height: 24px;
  --roboto-title-3-bold-font-weight: 700;
  --roboto-title-3-bold-font-style: normal;
  --roboto-title-3-bold-caps-font-family: Roboto-Bold, sans-serif;
  --roboto-title-3-bold-caps-font-size: 20px;
  --roboto-title-3-bold-caps-line-height: 24px;
  --roboto-title-3-bold-caps-font-weight: 700;
  --roboto-title-3-bold-caps-font-style: normal;
  --roboto-headline-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-headline-regular-font-size: 19px;
  --roboto-headline-regular-line-height: 28px;
  --roboto-headline-regular-font-weight: 400;
  --roboto-headline-regular-font-style: normal;
  --roboto-headline-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-headline-semibold-font-size: 19px;
  --roboto-headline-semibold-line-height: 28px;
  --roboto-headline-semibold-font-weight: 600;
  --roboto-headline-semibold-font-style: normal;
  --roboto-headline-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-headline-bold-font-size: 19px;
  --roboto-headline-bold-line-height: 28px;
  --roboto-headline-bold-font-weight: 700;
  --roboto-headline-bold-font-style: normal;
  --roboto-text-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-text-regular-font-size: 17px;
  --roboto-text-regular-line-height: 26px;
  --roboto-text-regular-font-weight: 400;
  --roboto-text-regular-font-style: normal;
  --roboto-text-medium-font-family: Roboto-Medium, sans-serif;
  --roboto-text-medium-font-size: 17px;
  --roboto-text-medium-line-height: 26px;
  --roboto-text-medium-font-weight: 500;
  --roboto-text-medium-font-style: normal;
  --roboto-text-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-text-semibold-font-size: 17px;
  --roboto-text-semibold-line-height: 26px;
  --roboto-text-semibold-font-weight: 600;
  --roboto-text-semibold-font-style: normal;
  --roboto-text-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-text-bold-font-size: 17px;
  --roboto-text-bold-line-height: 26px;
  --roboto-text-bold-font-weight: 700;
  --roboto-text-bold-font-style: normal;
  --roboto-subheadline-1-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-subheadline-1-regular-font-size: 16px;
  --roboto-subheadline-1-regular-line-height: 24px;
  --roboto-subheadline-1-regular-font-weight: 400;
  --roboto-subheadline-1-regular-font-style: normal;
  --roboto-subheadline-1-regular-mono-font-family: RobotoMono-Regular,
    sans-serif;
  --roboto-subheadline-1-regular-mono-font-size: 16px;
  --roboto-subheadline-1-regular-mono-line-height: 24px;
  --roboto-subheadline-1-regular-mono-font-weight: 400;
  --roboto-subheadline-1-regular-mono-font-style: normal;
  --roboto-subheadline-1-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-subheadline-1-semibold-font-size: 16px;
  --roboto-subheadline-1-semibold-line-height: 24px;
  --roboto-subheadline-1-semibold-font-weight: 600;
  --roboto-subheadline-1-semibold-font-style: normal;
  --roboto-subheadline-1-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-subheadline-1-bold-font-size: 16px;
  --roboto-subheadline-1-bold-line-height: 24px;
  --roboto-subheadline-1-bold-font-weight: 700;
  --roboto-subheadline-1-bold-font-style: normal;
  --roboto-subheadline-2-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-subheadline-2-regular-font-size: 15px;
  --roboto-subheadline-2-regular-line-height: 22px;
  --roboto-subheadline-2-regular-font-weight: 400;
  --roboto-subheadline-2-regular-font-style: normal;
  --roboto-subheadline-2-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-subheadline-2-semibold-font-size: 15px;
  --roboto-subheadline-2-semibold-line-height: 22px;
  --roboto-subheadline-2-semibold-font-weight: 600;
  --roboto-subheadline-2-semibold-font-style: normal;
  --roboto-subheadline-2-semibold-caps-font-family: Roboto-SemiBold, sans-serif;
  --roboto-subheadline-2-semibold-caps-font-size: 15px;
  --roboto-subheadline-2-semibold-caps-line-height: 22px;
  --roboto-subheadline-2-semibold-caps-font-weight: 600;
  --roboto-subheadline-2-semibold-caps-font-style: normal;
  --roboto-subheadline-2-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-subheadline-2-bold-font-size: 15px;
  --roboto-subheadline-2-bold-line-height: 22px;
  --roboto-subheadline-2-bold-font-weight: 700;
  --roboto-subheadline-2-bold-font-style: normal;
  --roboto-subheadline-2-bold-caps-font-family: Roboto-Bold, sans-serif;
  --roboto-subheadline-2-bold-caps-font-size: 15px;
  --roboto-subheadline-2-bold-caps-line-height: 22px;
  --roboto-subheadline-2-bold-caps-font-weight: 700;
  --roboto-subheadline-2-bold-caps-font-style: normal;
  --roboto-subheadline-2-regular-mono-font-family: RobotoMono-Regular,
    sans-serif;
  --roboto-subheadline-2-regular-mono-font-size: 15px;
  --roboto-subheadline-2-regular-mono-line-height: 22px;
  --roboto-subheadline-2-regular-mono-font-weight: 400;
  --roboto-subheadline-2-regular-mono-font-style: normal;
  --roboto-caption-1-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-caption-1-regular-font-size: 13px;
  --roboto-caption-1-regular-line-height: 20px;
  --roboto-caption-1-regular-font-weight: 400;
  --roboto-caption-1-regular-font-style: normal;
  --roboto-caption-1-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-caption-1-semibold-font-size: 13px;
  --roboto-caption-1-semibold-line-height: 20px;
  --roboto-caption-1-semibold-font-weight: 600;
  --roboto-caption-1-semibold-font-style: normal;
  --roboto-caption-1-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-caption-1-bold-font-size: 13px;
  --roboto-caption-1-bold-line-height: 20px;
  --roboto-caption-1-bold-font-weight: 700;
  --roboto-caption-1-bold-font-style: normal;
  --roboto-caption-1-bold-caps-font-family: Roboto-Bold, sans-serif;
  --roboto-caption-1-bold-caps-font-size: 13px;
  --roboto-caption-1-bold-caps-line-height: 20px;
  --roboto-caption-1-bold-caps-font-weight: 700;
  --roboto-caption-1-bold-caps-font-style: normal;
  --roboto-caption-2-regular-font-family: Roboto-Regular, sans-serif;
  --roboto-caption-2-regular-font-size: 10px;
  --roboto-caption-2-regular-line-height: 16px;
  --roboto-caption-2-regular-font-weight: 400;
  --roboto-caption-2-regular-font-style: normal;
  --roboto-caption-2-semibold-font-family: Roboto-SemiBold, sans-serif;
  --roboto-caption-2-semibold-font-size: 10px;
  --roboto-caption-2-semibold-line-height: 16px;
  --roboto-caption-2-semibold-font-weight: 600;
  --roboto-caption-2-semibold-font-style: normal;
  --roboto-caption-2-bold-font-family: Roboto-Bold, sans-serif;
  --roboto-caption-2-bold-font-size: 10px;
  --roboto-caption-2-bold-line-height: 16px;
  --roboto-caption-2-bold-font-weight: 700;
  --roboto-caption-2-bold-font-style: normal;
  --roboto-caption-2-bold-caps-font-family: Roboto-Bold, sans-serif;
  --roboto-caption-2-bold-caps-font-size: 10px;
  --roboto-caption-2-bold-caps-line-height: 16px;
  --roboto-caption-2-bold-caps-font-weight: 700;
  --roboto-caption-2-bold-caps-font-style: normal;

  /* Effects */
  --header-shadow-android-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --popover-shadow-desktop-box-shadow: 0px 12px 56px 0px rgba(0, 0, 0, 0.08),
    0px 0px 3px 0px rgba(0, 0, 0, 0.05);
  --card-shadow-box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.04),
    0px 0px 2px 1px rgba(0, 0, 0, 0.02);
  --text-shadow-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.75);
  --text-shadow-backdrop-filter: blur(12px);
  --context-menu-shadow-box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.05),
    0px 0px 2px 1px rgba(0, 0, 0, 0.05);
}
